body {
  background-color: #D9DDF0;
  font-size: 18px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: normal;
}
