.menu {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.menu li {
  float: left;
  margin: 14px auto;
}

.menu li a {
  display block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu li a:hover {
  background-color: #111;
}

.menu li a:visited:hover {
  color: white;
}

body {
  background-color: #F2F2F2;	/* Light Gray */
  font-size: 18px;
}

#portfolio-header {
  background-color: #FFFFFF;
  font-size: 2em;
  text-align: center;
  padding: 50px;
  margin: 0 0 50px 0;
  border: 1px solid #000000;
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: normal;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color:purple;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}

a:active {
  color: red;
}

a:visited:hover {
  color: orange;
}

a:visited:active {
  color: red;
}
