* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;;	/* Blue */
  padding: 14px 0;
  display: flex;
  justify-content: space-between;
}

.menu {
  width: 300px;
  display: flex;
  justify-content: space-between;
}

.portfolio-title {
  padding: 0 16px;
}

.menu div a {
  display block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 14px 16px;
}

.menu div a:hover {
  color: black;
  background-color: #B2D6FF;	/* Medium Blue */
}

.menu div a:visited:hover {
  color: black;
}

.page {
  font-size: 18px;
  background-color: #EAEDF0;	/* Light Gray */
}

.header {
  font-size: 2em;
  text-align: center;
  padding: 50px;
}

#about-header {
  background-color: #F09A9D;	/* Red */
}

.content-container {
  display: flex;
  justify-content: center;
}

.content {
  width: 90%;
  display: flex;
  justify-content: space-between;
}

#about-content {
  background-color: #F5CF8E;
}

.logo {
  width: 50%;
  margin: 14px;
}

.info {
  width: 50%;
  align-self: center;
  margin: 14px;
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", "Arial", sans-serif;
  font-weight: normal;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color:purple;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}

a:active {
  color: red;
}

a:visited:hover {
  color: orange;
}

a:visited:active {
  color: red;
}
