* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.page {
  font-size: 18px;
  background-color: #EAEDF0;	/* Light Gray */
  display: flex;
  flex-wrap: wrap;
}

.menu-container {
  color: #fff;
  background-color: #5995DA;;	/* Blue */
  width: 100%;
  height: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu {
  display: flex;
  justify-content: space-between;
}

.portfolio-title {
  padding: 0 16px;
  order: -1;
}

.menu div a {
  display block;
  color: white;
  text-align: center;
  text-decoration: none;
  padding: 0 16px;
}

.menu div a:hover {
  color: black;
  background-color: #B2D6FF;	/* Medium Blue */
}

.menu div a:visited:hover {
  color: black;
}

.header {
  width: 100%;
  font-size: 2em;
  text-align: center;
  padding: 50px;
}

#about-header {
  background-color: #F09A9D;	/* Red */
}

#projects-header {
 background-color: #C6F58E;	/* Green */
}

#experience-header {
  background-color: #F5C38E;	/* Orange */
}

.content-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.content {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-content {
  background-color: #F5CF8E;	/* Yellow */
}

#projects-content {
  background-color: #F09A9D;	/* Red */
}

#experience-content {
  background-color: #C6F58E;	/* Green */
}

.logo {
  margin: 14px;
}

img {
  width: 280px;
}

.info {
  padding: 14px;
  margin: 14px;
}

h2 {
  font-size: 1.6em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Arial", sans-serif;
  font-weight: normal;
}

p {
  padding: 14px;
}

a:link {
  color: blue;
  text-decoration: none;
}

a:visited {
  color:purple;
}

a:hover {
  color: aqua;
  text-decoration: underline;
}

a:active {
  color: red;
}

a:visited:hover {
  color: orange;
}

a:visited:active {
  color: red;
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  .page {
    width: 960px;
    margin: 0 auto;
  }

  .menu-container {
    color: #fff;
    background-color: #5995DA;;	/* Blue */
    width: 100%;
    height: auto;
    padding: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .menu {
    width: 20.0%;
    display: flex;
    justify-content: space-between;
  }

  .portfolio-title {
    padding: 0 16px;
    order: 0;
  }

  .menu div a {
    display block;
    color: white;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
  }

  .menu div a:hover {
    color: black;
    background-color: #B2D6FF;	/* Medium Blue */
  }

  .menu div a:visited:hover {
    color: black;
  }

  .header {
    font-size: 2em;
    text-align: center;
    padding: 50px;
  }

  #about-header {
    background-color: #F09A9D;	/* Red */
  }

  #projects-header {
   background-color: #C6F58E;	/* Green */
  }

  #experience-header {
    background-color: #F5C38E;	/* Orange */
  }

  .content-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .content {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  #about-content {
    background-color: #F5CF8E;	/* Yellow */
  }

  #projects-content {
    background-color: #F09A9D;	/* Red */
  }

  #experience-content {
    background-color: #C6F58E;	/* Green */
  }

  .logo {
    width: 50%;
    margin: 14px;
  }

  .info {
    width: 50%;
    align-self: center;
    padding: 0;
    margin: 14px;
  }

  h2 {
    font-size: 1.6em;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: "Arial", sans-serif;
    font-weight: normal;
  }

  hr {
    width: 100%;
  }

  p {
    height: 175px;
    padding: 14px;
  }

  a:link {
    color: blue;
    text-decoration: none;
  }

  a:visited {
    color:purple;
  }

  a:hover {
    color: aqua;
    text-decoration: underline;
  }

  a:active {
    color: red;
  }

  a:visited:hover {
    color: orange;
  }

  a:visited:active {
    color: red;
  }

}
